
    <!--include header and nav bar from templates -->
    <% var title = "Blog"; %>
    <%- include partial_header.ejs %>

        <!--your page content here-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 rd-pt-100">
                    <div class="col-md-10 col-lg-10">
                        <ul class="all-blogs">
                            <li class="media">
                                <a class="pull-left" href="#">
                                    <img src="http://placehold.it/100x100" alt="...">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">Latest Google Updates</h4>
                                    <p class="author">Mike Smith</p>
                                </div>
                            </li>
                            <li class="media">
                                <a class="pull-left" href="#">
                                    <img src="http://placehold.it/100x100" alt="...">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">Newest bootstrap version</h4>
                                    <p class="author">Dave Hesler</p>
                                </div>
                            </li>
                            <li class="media">
                                <a class="pull-left" href="#">
                                    <img src="http://placehold.it/100x100" alt="...">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">Android rolls our another update</h4>
                                    <p class="author">Michael Davis</p>
                                </div>
                            </li>
                            <li class="media">
                                <a class="pull-left" href="#">
                                    <img src="http://placehold.it/100x100" alt="...">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">Survey results are out</h4>
                                    <p class="author">Mike Smith</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Blog</h3>
                            <br>
                            <h4>KEEP CALM AND AUTOMATE</h4>
                            <p>June 24, 2015</p>
                            <p>
                                A few stories broke last week fueling speculation about the future of home automation. With the rumored Quirky sale, the Leeo staff layoffs, and the apathetic media responses to Nest’s latest press announcements, it certainly was not a banner week for the Internet of Things (IoT).
                            </p>
                            <p>
                                Given the nature of these events, skepticism may seem warranted. Even more important, it is natural. Boom and bust cycles have always been part of the adoption of mobile, social media, SaaS, and arguably all technology megatrends. The smart home and broader IoT category is no exception. The 2015 Consumer Electronics Show marked the peak of inflated expectations, but of course, there will be consolidations, failed products, and unsuccessful business models as we make our way to mainstream.
                                </p>
                            <p>
                                Although there are certainly hiccups on the road to widespread consumer adoption, we have not seen a drop-off in smart home activity. What we are witnessing is the brutal Darwinism of product/market fit playing out at retail stores, online, and in the consumer's home. The only possible outcomes may seem to be WIN BIG or LOSE BIG. But breathe deeply; in the last 10 years, we have made great progress and there’s only more to come:
                            </p>
                            <img src="http://static1.squarespace.com/static/5129591ae4b0fd698ebf65c0/t/558a20d6e4b06f252374a12b/1435115736808/?format=750w" height="600" width="600">
                            <p>
                                <b>1. Reliability:</b> Compare X10, early Lonworks, and other early home automation protocols to modern connectivity protocols and you will find many improvements. We have the same large players around the table (Qualcomm, Intel, NXP) that made mobile, Wi-Fi, and PayTV real, and we will only continue to see progress in the reliability of these underlying protocols and ultimately the products.
                                <br>
                                <b>2. Affordability:</b> 10 years ago home automation systems from AMX, Crestron, and others routinely cost $25K+ and took a small army of technicians days to install. Today, connectivity module costs are 25% of what they were when the first modern era home automation devices rolled out in 2011-2012 and setup experiences are much smoother.
                                <br>
                                <b>3. Talent:</b> The talent focused on the smart home in 2015 compared to 2005 is unbelievably impressive. Some of the best engineers, product people, business development folks, etc. that spent time in social, SaaS, CE, and mobile have started to focus on the smart home. The flow of talent into IoT is a strong indicator that we are heading in the right direction and will ultimately be able to deliver on the promise of a simple, smart, connected home.
                                <br>
                                <b>4. Consumer interest:</b> In a recent Internet of Things Consortium (IoTC) consumer study conducted via IDC, 65% of consumers stated they were moderately or extremely interested in adopting smart home solutions. Among younger consumers (18-24), that number jumps to 84%. Projected to the US adult population, that equates to a potential market size of 150 million+ Americans. These numbers speak for themselves – interest is alive and well and it’s now up to us to perfect this technology for the mainstream audience and get the word out via marketing.
                                <br>
                                <b>5. New players in the ecosystem:</b> Liberty Mutual and American Family Insurance recently struck deals with Nest to subsidize the cost of smart home products. Retailers such as Target, Walmart, Pirch and Amazon have all made moves to push smart home products and services. As the ecosystem welcomes new players, consumers will benefit from a wider selection of products. New business models, increased interest and mainstream adoption will undoubtedly follow.
                            </p>

                            <p>
                                Source: <a href="http://iofthings.org/blog/">iofthings</a>
                            </p>
                        </div>
                    </div>


                </div>
                <div class="col-md-3 rd-pt-20" >
                    <h4>Related Technology Report</h4>
                    <blockquote class="blockquote">
                        <h3>Internet of Things Council</h3>
                        <p>The Internet of Things Council is a European think tank of the best minds in the burgeoning Internet of Things sector. From forecasting to developing prototypes, the council members' commonality is the "range of emotions and conceptual breakdown that comes with grasping the territory, the full logistical, business, social and philosophical implications of the Internet of Things." You can access their blog feed <a href="http://www.theinternetofthings.eu/rss.xml">here</a>.</p>

                    </blockquote>
                    <blockquote class="blockquote">
                        <h3>I-O-T : INTERNET Of THINGS</h3>
                        <p>This group blog is sometimes in French but mostly in English. The project originated as a LinkedIn discussion group, which readers are still invited to join. Interested developers are also encouraged to request "writer status" for the blog. "The concept of the Internet Of Things is federating more and more people every day. This Blog is a sharing space for those interested in participating in this major breakthrough." You can access its feed <a href="http://www.i-o-t.org/feed/atom">here</a>. </p>

                    </blockquote>
                </div>
            </div>

        </div>




    <!--include footer from templates -->
    <% var jspath = "/js/iot.js"; %>
    <%- include partial_footer.ejs %>
