<!--include header and nav bar from templates -->
<% var title = "Contact Us"; %>
<% include partial_header.ejs %>

<!--your page content here-->
<div class="container">
    <h3>Contact Us</h3>
    <dl>
        

        <dt>Bhushan Walke</dt>
        <dd>bhushan.h2@gmail.com</dd>
        <br>

        <dt>Sayali Kajale</dt>
        <dd>kajalaesayali@gmail.com</dd>
        <br>
        <dt>Ashish Pai</dt>
        <dd>paiashish@gmail.com</dd>
        <br>
        <dt>Harshad Kulkarni</dt>
        <dd>hkulkarni@gmail.com</dd>
        <br>
        <dt>Deepika Tadakhe</dt>
        <dd>dtadakhe@gmail.com</dd>
        <br>
    </dl>
</div>

<!--include footer from templates -->
<% var jspath = ""; %>
<% include partial_footer.ejs %>