<!--include header and nav bar from templates -->
<% var title = "Management"; %>
<% include partial_header.ejs %>

    <!--your page content here-->
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>Management</h3>
                <p>
                    We are from San Jose State University, graduate students from Software Engineering. Our group is called <b>MoonShot</b> and interning from well-known companies and currently looking for Full-Time opportunities.
                </p>
            </div>
        </div>

        <div class="row">
            <div id="news" class="col-xs-12 col-sm-3">
                <div class="row header">
                    <h4 class="text-center">Featured News</h4>
                </div>
                <div class="row content">
                    <h5><b>BilledIt - Smart bill editing application</b></h5>
                    <p>
                        We are building a bill editing and bill splitting platform where users can scan, upload, edit and split the bills using splitwise APIs.
                        <br>
                        <a href="http://billedit.me/"
                           target="_blank">
                            <i class="text-center">More here &gt;&gt;</i>
                        </a>
                    </p>
                </div>
            </div>

            <div id="executive" class="col-xs-12 col-sm-offset-1 col-sm-8">
                <div class="row header">
                    <h4 class="text-center">Executive Team</h4>
                </div>
                <div class="row content">
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <a data-toggle="modal" data-target="#bwModal">
                                <img src="img/bhushan.jpg" width="200" height="200">

                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <a data-toggle="modal" data-target="#hkModal">
                                <img src="img/harshad.jpg" width="200" height="200">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <a data-toggle="modal" data-target="#skModal">
                                <img src="img/sayali.jpg" width="200" height="200">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <a data-toggle="modal" data-target="#apModal">
                                <img src="img/ashish.jpg" width="200" height="200">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <a data-toggle="modal" data-target="#dtModal">
                                <img src="img/deepika.jpg" width="200" height="200">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <a data-toggle="modal" data-target="#cvModal">
                                <img src="img/cvuppalapati.jpg" width="200" height="200">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Modals-->
        <div class="row">
            <div class="modal fade" id="bwModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h3 class="modal-title text-center" id="myModalLabel">Bhushan Walke</h3>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <img src="img/bhushan.jpg" width="200" height="200">
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <h4>CEO</h4>
                                        <p>
                                            <a href="https://www.linkedin.com/in/bhushanwalke" target="_blank">
                                                <img src="img/linkedin-icon.png" alt="linkedin-icon"
                                                     height="30" width="30">
                                            </a>
                                        </p>
                                        <p>
                                            Bhushan Walke is the CEO for this project, with expertise in frontend technologies
                                            including jQuery, NodeJS, AngularJS, and Ajax. He is
                                            also well-versed in SQL, MongoDB and cloud technologies including Heroku,
                                            and AWS.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="modal fade" id="hkModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h3 class="modal-title text-center" id="myModalLabel">Harshad Kulkarni</h3>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <img src="img/harshad.jpg" width="200" height="200">
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <h4>CEO</h4>
                                        <p>
                                            <a href="https://www.linkedin.com/in/bhushanwalke" target="_blank">
                                                <img src="img/linkedin-icon.png" alt="linkedin-icon"
                                                     height="30" width="30">
                                            </a>
                                        </p>
                                        <p>
                                            Harshad Kulkarni is the CEO for this project, with expertise in frontend technologies
                                            including jQuery, NodeJS, AngularJS, and Ajax. He is
                                            also well-versed in SQL, MongoDB and cloud technologies including Heroku,
                                            and AWS.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="skModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h3 class="modal-title text-center" id="myModalLabel">Sayali Kajale</h3>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <img src="img/sayali.jpg" width="200" height="200">
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <h4>CEO</h4>
                                        <p>
                                            <a href="https://www.linkedin.com/in/bhushanwalke" target="_blank">
                                                <img src="img/linkedin-icon.png" alt="linkedin-icon"
                                                     height="30" width="30">
                                            </a>
                                        </p>
                                        <p>
                                            Sayali Kajale is the CEO for this project, with expertise in frontend technologies
                                            including jQuery, NodeJS, AngularJS, and Ajax. she is
                                            also well-versed in SQL, MongoDB and cloud technologies including Heroku,
                                            and AWS.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="apModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h3 class="modal-title text-center" id="myModalLabel">Ashish Pai</h3>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <img src="img/ashish.jpg" width="200" height="200">
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <h4>CEO</h4>
                                        <p>
                                            <a href="https://www.linkedin.com/in/bhushanwalke" target="_blank">
                                                <img src="img/linkedin-icon.png" alt="linkedin-icon"
                                                     height="30" width="30">
                                            </a>
                                        </p>
                                        <p>
                                            Ashish Pai is the CEO for this project, with expertise in frontend technologies
                                            including jQuery, NodeJS, AngularJS, and Ajax. He is
                                            also well-versed in SQL, MongoDB and cloud technologies including Heroku,
                                            and AWS.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="dtModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h3 class="modal-title text-center" id="myModalLabel">Deepika Tadake</h3>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <img src="img/deepika.jpg" width="200" height="200">
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <h4>CEO</h4>
                                        <p>
                                            <a href="https://www.linkedin.com/in/bhushanwalke" target="_blank">
                                                <img src="img/linkedin-icon.png" alt="linkedin-icon"
                                                     height="30" width="30">
                                            </a>
                                        </p>
                                        <p>
                                            Deepika Tadake is the CEO for this project, with expertise in frontend technologies
                                            including jQuery, NodeJS, AngularJS, and Ajax. she is
                                            also well-versed in SQL, MongoDB and cloud technologies including Heroku,
                                            and AWS.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="cvModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h3 class="modal-title text-center" id="myModalLabel">Chandrasekar Vuppalapati</h3>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <img src="img/cvuppalapati.jpg" width="200" height="200">
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <h4>CEO</h4>
                                        <p>
                                            <a href="https://www.linkedin.com/in/bhushanwalke" target="_blank">
                                                <img src="img/linkedin-icon.png" alt="linkedin-icon"
                                                     height="30" width="30">
                                            </a>
                                        </p>
                                        <p>
                                            Chandrasekar Vuppalapati is the CEO for this project, with expertise in frontend technologies
                                            including jQuery, NodeJS, AngularJS, and Ajax. He is
                                            also well-versed in SQL, MongoDB and cloud technologies including Heroku,
                                            and AWS.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
        <!--End Modals-->
    </div>


<!--include footer from templates -->
<% var jspath = ""; %>
<% include partial_footer.ejs %>